<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Random</title>
  </head>
  <body>
    Último número: <%= ultimoNumero %><br />
    Número atual: <%= numeroAtual %>
  </body>
</html>
